/* =========== Common styles =========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

 
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
/* =========== /Common styles =========== */

/* =========== Page Header styles =========== */
.page-header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.page-nav{
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  }

.text-web {
  color: #2e2f42;
  }
.menu{
  display: flex;
  gap: 40px;
}
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.menu-link.active {
  color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts{
  font-style: normal
  }

.contacts-list{
  font-style: normal;
  line-height: 1.5;
  display: flex;
  gap: 40px;
 }

.contacts-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
}

/* =========== /Page Header styles =========== */

/* =========== /container styles =========== */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header-container{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* =========== /container styles =========== */

/* =========== First Section styles =========== */
.first-section { 
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
    background-size: cover;
    background-color: #2e2f42;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
}
.main-title {
max-width: 496px;  
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
}

.ordr-srvc-btn {
  background: #4d5ae5;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px; 
  display: block;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.ordr-srvc-btn:hover,
.ordr-srvc-btn:focus {
    background: #404bbf;
    color: #fff;;
}
/* =========== First Section styles =========== */

/* =========== Benefits Section styles =========== */
.benefits{
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-benefits{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list{
  display: flex;
  gap: 24px;
}

.benefits-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.benefits-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
       }

    .benefits-list-item{
      width: calc((100% - 72px) / 4);
    }


    .div-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(142, 143, 153);
    border-radius: 4px;
    background-color: #f4f4fd;
    }
/* =========== /Benefits Section styles =========== */

/* =========== / Our Team Section =========== */
.our-team{
    background-color: #f4f4fd;
    padding: 120px 0; 
}

.our-team-list{
  display: flex;
  gap: 24px;
}

.team-text-name{
  padding: 32px 0;
}

.our-team-list-item{
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

 .team-list-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    }
.our-team-name{   
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.our-team-text{   
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.soicial-list-icons{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: auto;
}

.soicial-list-items-link-team{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soicial-list-items-link-team:hover,
.soicial-list-items-link-team:focus {
  background-color: #404bbf;
}


.soicial-icon-style {
  fill: #f4f4fd;
}
/* =========== / Our Team Section =========== */


/* =========== /  Our Portfolio Section =========== */
.our-portfolio{
  padding: 120px 0;
}

.our-portfolio-list{
    flex-wrap: wrap;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    
}

.our-portfolio-list-item{

     width: calc((100% - 48px) / 3);
     background-color: #ffffff;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .our-portfolio-list-item:hover {
      box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .our-portfolio-list-item:hover .our-portfolio-overlay-text{
      transform: translateY(0%);
  }

    .our-portfolio-overlay{
    position: relative;
    display: flex;
    background-color: #ffffff;
    width: 360px;
    height: 300px;
    overflow: hidden;
    }


    .our-portfolio-overlay-text{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      text-align: left;
      padding: 40px 32px;
      background-color: #4d5ae5;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-list-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-portfolio-text{
   padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.our-portfolio-name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px
}
.our-portfolio-type{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* =========== /  Our Portfolio Section =========== */

/* =========== / Footer =========== */



.page-footer{
    background-color:#2e2f42;
    padding: 100px 0;
}


.footer-all-container{
  display: flex;
  align-items: baseline;
}

.footet-web-studio-text{
  display: block;
  margin-right: 120px;
}

 .logo-footer{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
max-width: 115px;
display: inline-block;
margin-bottom: 16px;
}
.logo-footer-white{
  color: #f4f4fd;
}

.page-footer-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}
 

.media-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.soicial-list-icons-footer{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}


.soicial-list-items-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soicial-list-items-link:hover,
.soicial-list-items-link:focus {
  background-color: #31d0aa;
}



.soicial-icon-style-footer {
  fill: #f4f4fd;
}


.footer-social-media{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 80px;
}



.footer-subscribe {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}


.footer-subscribe-form {
  display: flex;
  gap: 24px;
}


.footer-subscribe-label {
  display: flex;
}


.footer-subscribe-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}


.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  cursor: pointer;
}

.subscribe-button-icon {
  fill: #ffffff;
  margin-left: 16px;
}



/* =========== / Footer =========== */

 

/* =========== Backdrop styles =========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4) ;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* =========== /Backdrop styles =========== */

/* =========== Modal window styles =========== */
.modal {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0,0, 0.1);
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff
}


.modal-close-btn-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========== /Modal window styles =========== */

/* =========== Review form styles =========== */
.review-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-commet-wrapper{
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  font-size: 18px;
  color: #2e2f42;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4d5ae5;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.review-form-input:focus + .review-form-field-icon {
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.review-form-message {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 
.review-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.review-form-message:focus {
  border-color: #4d5ae5;
}

.review-form-checkbox-wrapper {
  margin-bottom: 40px;
  display: flex;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-own-checkbox-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-privacy-checkbox{
  width: 16px;
  height: 16px;
}

.review-form-privacy-checkbox:checked + .review-form-checkbox-label .review-form-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}





.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.privacy-policy-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.review-form-submit-btn {
  display: block;
  border-radius: 4px;
      padding: 16px 32px;
      min-width: 169px;
      height: 56px;
      margin-bottom: 24px;
      margin-right: auto;
      margin-left: auto;
      border: none;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background: #4d5ae5;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404BBF;
}






/* =========== /Review form styles =========== */